# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

***Objetives:***

- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub
- Remember the knowledge about Data Science

Some of the popular languages that Data Scientist use are:

1. Python
2. R
3. SQL
4. Java
5. JavaScript

Some of the commonly used libraries used by Data Scientist include:

1. Pandas (Python)
2. Numpy (Python)
3. Matplotlib (Python)
4. Seaborn (Python)
5. dplyr (R)
6. stringr (R)
7. ggplot (R)
8. caret (R)

| Data Science Tools |
| ------------------ |
| Jupyter |
| Apache Zepellin |
| RStudio |

### Below are few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
print((3*4)+5)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Yuber David Gaona Poveda